/* .Nav-Tag-1{
    margin-right: 30px; 
    margin-left: 20px;
    margin-top: 8px;
   
}
.Nav-Tags{
    font-size: 12px; 
    font-weight: 500;
    list-style-type: none;
    display: flex;
    color: black;
    padding-top: 15px;   
}
.Anchor-tag{
    color: black;
    text-decoration: none;
    
} */

.text-small{
    font-size: 13px;
    font-family: cursive;
 }