
.Container{
    background-color: rgb(247, 247, 247);
    margin: 0px;
    padding: 0px;
}

/* Navbar */



/* Coupon Card */

.Coupon-Container{
    margin-left: 170px; 
    margin-top: 30px; 
    border-radius: 20px;
    margin-bottom: 20px;
}
.Coupon-Img{
    border-radius: 20px;
}

/* Slide Card */

.Slide-Card{
    margin-top: 20px;
}

/* Long Card */

.Long-Card-Heading{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: cursive;
    color: rgb(249, 0, 125);

}
.Long-Card-Container{
    margin-top: 30px;
}

/* Grand Card */


/* Category */
.Category-Container-1{
    display: flex; 
    justify-content: center;
    
}
.Category-Container-div{
    margin-left: 20px;
}
.Category-Container-2{
    display: flex; 
    justify-content: center; 
    margin-top: 40px;
}
.Category-Img{
    width: 200px;
    height: 300px;
    border-radius: 15px;
    
}

/* App */
.App-Heading{
    text-align: center; 
    margin-top: 100px;
}
.App-Container{
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}
.Playstore-Img{
    width: 200px;
    height: 60px;
}
.Appstore-Img{
    width: 270px;
    height: 60px;
   
}
